<div class="chat-header">
  <div class="left-header">
    <div class="chat-room-name">
      sample
    </div>
  </div>
  <div class="right-header">
    <div class="finish-room">
      <a href="#">チャットを終了する</a>
    </div>
  </div>
</div>
<div class="massages">
  <div class="message">
    <div class="upper-message">
      <div class="chat-user-name">
        Tom
      </div>
      <div class="date">
        2020/01/01(Wed) 00:00:00
      </div>
    </div>
    <div class="lower-message">
      <div class="text">
        test
      </div>
    </div>
  </div>

  <div class="message">
    <div class="upper-message">
      <div class="chat-user-name">
        Tom
      </div>
      <div class="date">
        2020/01/01(Wed) 00:00:00
      </div>
    </div>
    <div class="lower-message">
      <div class="text">
        test2
      </div>
    </div>
  </div>
</div>
<div class="form">
  <div class="form-input">
    <input class="form-message" placeholder= "type a message">
    <label class="form-image">
      <span class="image-file">画像</span>
      <input type="file" class="hidden">
    </label>
  </div>
  <input class="form-submit" type="submit" value="送信">
</div>